<div class="site-footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="widget mb-4">
                    <img src="/images/lg.png" alt="">
                    <p>SEVENFRIDAY là thương hiệu toàn cầu với các sản phẩm đồng hồ
                        và phụ kiện lấy cảm hứng từ thiết kế công nghiệp, dành cho những cá nhân trên khắp thế giới
                        với phong cách sống mỗi ngày đều là ngày thứ Sáu. Thúc đẩy và thách thức các tiêu chuẩn
                        trong ngành theo niềm tin, ước mơ và kinh nghiệm của chính chúng tôi, SEVENFRIDAY là một
                        phong cách sống</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget">
                    <h3>Trợ Giúp</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Tài khoản</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="widget">
                    <h3>Mạng xã hội</h3>
                    <ul class="list-unstyled social">
                        <li><a href="#"><span class="icon-facebook"></span></a></li>
                        <li><a href="#"><span class="icon-instagram"></span></a></li>
                        <li><a href="#"><span class="icon-linkedin"></span></a></li>
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- /.container -->
</div>