<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="/images/lg-web.webp">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/animate.min.css">
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/css/jquery.fancybox.min.css">
	<link rel="stylesheet" href="/fonts/icomoon/style.css">
	<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
	<link rel="stylesheet" href="/css/aos.css">
	<link rel="stylesheet" href="/css/style.css">
	<title>SevenFriday</title>
</head>

<body>
	<%- include('header') %>

	<%- include('home') %>

	<%- include('footer') %>
	
	<script src="/javascripts/jquery-3.4.1.min.js"></script>
	<script src="/javascripts/popper.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/owl.carousel.min.js"></script>
	<script src="/javascripts/jquery.animateNumber.min.js"></script>
	<script src="/javascripts/jquery.waypoints.min.js"></script>
	<script src="/javascripts/jquery.fancybox.min.js"></script>
	<script src="/javascripts/jquery.sticky.js"></script>
	<script src="/javascripts/aos.js"></script>
	<script src="/javascripts/custom.js"></script>

</body>

</html>